:root {
    --w: rgb(255, 255, 255);
    --b: rgb(30,30,30);
    --mb:rgb(66, 66, 66);
    --g:rgb(121, 121, 121);

}

body {
    margin-top: 0;
    
    font-family: "Changa", sans-serif;
}

header {
    font-family:"Changa", sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 0px 0px ;
    z-index: 1000; 
}

main {
    margin-top: 200px;
    padding: 20px;
}


/* Menu Bar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    
}

.navbartittle {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.navbarlinks {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    transition: 2s;
}

.navbarlinks li{
    text-align: center;
}

.navbarlinks a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    margin: 0;
    transition: background-color 0.3s, padding 1s; 
    white-space: nowrap;
}

.navbarlinks a:hover {
   padding: 15px 30px 15px 30px ;
   background-color: #969696;
   color: #ffffff;
}

/* Body */

.portifolio {
    margin: 15em;
    margin-top: 10em;

   
}


/* Home */

.home {
    height: 60em;
    width: 50em;
}

.tittle {
    font-size:85px;
    margin: 0px 0px 0px 0px;
        
}

.aboutme {
    margin: 5px;
}

.icons {
    margin-top: 2em;
}


.icon-link {
    text-decoration: none;
    color: #000000;
}

.icon-link i {
    font-size: 35px;
    margin: 5px;   
}

.linkedin {
    font-size: 35px;
}

.ling-stack {
    display: flex;
    text-align: center;
    background-color: #ffffff;
    margin: 5px;
    margin-top: 20em;
}

.ling-title {
    font-size: 24px;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 20px;
}

.ling-icons {
    margin-left: 27em;
    display: inline-block;
    vertical-align: middle;
}

.ling-icons img {
    margin: 0 10px;
    width: 40px;
    height: 40px;
    object-fit: contain;
}
/* Barra Menu */


/* Barra Menu */


/* Scrollbar */

body::-webkit-scrollbar {
    width: 2px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: var(--w);      /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color:var(--b);     /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
  }



  

